@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Vidaloka&display=swap');

@font-face {
  font-family: 'Quinshy';
  src: url('/fonts/Quinshy/Quinshy.woff2') format('woff2'),
    url('/fonts/Quinshy/Quinshy.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dashed-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    font-family: Vidaloka, serif;
    line-height: 24px;
    padding-left: 30px;
    background-color: transparent;
  }

  /* On mouse-over, add a white background color */
  .container:hover input ~ .checkmark {
    background-color: #fff;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #1d1d1d;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
